body{
text-align: center;
background:linear-gradient(
    rgba(0, 0, 0, 0.459),rgba(0, 0, 0, 0.767)),url("https://images.squarespace-cdn.com/content/v1/5005d21ac4aa55eb76ab5f3b/1367443434886-3ROHW2VFOLXXRC8D1RJP/demDJGva.gif?format=1000w");
}

.titulo{
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgb(160, 31, 31);
    color: aliceblue;
}

fieldset{

    border: none;
    display: flex;
    align-content: center;
}

.texto{
    display: flex;
    align-content: center;
    background-color: rgb(160, 31, 31);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    color: aliceblue;
    box-shadow: 1px 1px 10px 10px silver;
    transition: 0.04s;
}

.texto:hover{
    font-size: 115%;
    padding-bottom: 3%;
    width: 100%;
    transition-duration: 0.04s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

footer{
    background-color: cornsilk;
    position: absolute;
    bottom: 0%;
    text-align: center;
    color:rgb(160, 31, 31);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    width: 100%;
}

footer:hover{
    color: darkblue;
    transition: 0.6s;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    
}

@media (max-width: 700px){
    fieldset{
        max-width: 700px;
        max-height: 700px;
    }
    footer{
        position: absolute;
        bottom: 0%;
    }
}