body{
    background-color:rgb(38, 121, 194) ;
    text-align: center;

    background:linear-gradient(
        rgba(0, 0, 0, 0.459),rgba(0, 0, 0, 0.767)), url("https://images.squarespace-cdn.com/content/v1/551a19f8e4b0e8322a93850a/1574024073167-PRLTM8P9IEOI4Q6EZQYO/Desert.gif?format=750w");
}

.enfase{
    color: aliceblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(192, 192, 192, 0.76);
}

.container{
    background-color: #ffe5e500;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: none;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color:black;
    color: black;

}

.personagem{
    background-color: rgba(153, 50, 204, 0.767);
    width: 25%;
    border-radius: 3%;
    box-shadow: 1px 1px 10px 4px black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.534);
}

img{
    background-color: rgba(0, 0, 0, 0.705);
    transition: 0.2s;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20%;
}

img:hover{
    background-color: rgba(0, 0, 0, 0.877);
    height: 235px;
    width: 235px;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

footer{
    position: absolute;
    text-align: center;
    color: aliceblue;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(192, 192, 192, 0.76);
        width: 100%;
    }
    
    footer:hover{
        color: darkorchid;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.733);
        transition: 0.6s;
    }
    
.link:hover{
    transition: 0.3s;
    color: aliceblue;
}

@media (max-width: 700px){
    body{
        text-align: justify;
    }

    fieldset{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 80%;
    }

    .personagem{
        width: 85%;
    }

    footer{
        position: absolute;
    }
}