body {
    background-image: url(https://media2.giphy.com/media/pvl3qUsgblNOo/giphy.gif?cid=ecf05e47ia6fhpk5v747jyuj1ug0g5048b9g4b6sfrzzxood&rid=giphy.gif&ct=g);
    text-align: center;
}

.titulo {
    background-color: black;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgba(255, 248, 220, 0.795);
    color: orangered;
}

.container {
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.521);
    border: none;
}

.texto {
    background-color: rgb(218, 165, 32);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    color: bl;
    box-shadow: 1px 1px 10px 10px silver;
    transition: 1s;
}

.texto:hover {
    background-color: orangered;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgba(240, 248, 255, 0.356);
    color: cornsilk;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

img {
    transition: 0.8s;
    width: 100%;
    object-fit: cover;
}
img:hover{
    width: 1100px;
    transition: 1s;
    cursor: pointer;
}
.buttom {
    background: goldenrod;
    background-image: -webkit-linear-gradient(top, goldenrod, rgb(223, 181, 75));
    background-image: -moz-linear-gradient(top, rgb(224, 173, 43), goldenrod);
    background-image: -ms-linear-gradient(top, rgb(224, 172, 39), goldenrod);
    background-image: -o-linear-gradient(top, rgb(211, 163, 41), goldenrod);
    background-image: -webkit-gradient(bottom, rgb(207, 160, 39), goldenrod);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 100;
    padding: 25px;
    -webkit-box-shadow: 8px 5px 19px 0 #FFFFFF;
    -moz-box-shadow: 8px 5px 19px 0 #FFFFFF;
    box-shadow: 8px 5px 19px 0 #FFFFFF;
    text-shadow: 2px 1px 6px #FFFFFF;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: 0.8s;
}

.buttom:hover {
    border: solid #FFFFFF 1px;
    background: #F63D3D;
    background-image: -webkit-linear-gradient(top, orangered, rgba(248, 89, 32, 0.897));
    background-image: -moz-linear-gradient(top, rgb(253, 109, 56), rgb(247, 129, 86));
    background-image: -ms-linear-gradient(top, orangered, rgb(252, 110, 58));
    background-image: -o-linear-gradient(top, orangered, rgb(241, 123, 80));
    background-image: -webkit-gradient(bottom, orangered, rgb(253, 133, 89));
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.8s;
}

footer {
    background-color: cornsilk;
    position: absolute;
    bottom: 0%;
    text-align: center;
    color: rgb(160, 31, 31);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    width: 100%;
}

footer:hover {
    color: darkblue;
    transition: 0.6s;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;

}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    footer {
       position: initial;
    }
}
@media (min-width:769px) {
    img{
        width: 700px;
        height: 300px;
    }
}